@model IEnumerable<Phone>
@{
	ViewData["Title"] = "Catalogue";
}
<h3>Smartphone Catalogue</h3>
<table class="table-condensed">
	<tr>
		<td>Model</td>
		<td>Manufacturer</td>
		<td>Price</td>
		<td></td>
	</tr>
	@foreach (var phone in Model)
	{
		<tr>
			<td>@phone.Name</td>
			<td>@phone.Company</td>
			<td>@phone.Price</td>
			<td><a href="~/Home/Buy/@phone.Id">Buy</a></td>
		</tr>
	}
</table>